
body  {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body > div {
  --darkmode-background:  #2F2F2F;
  --lightmode-background: #FFBC3A;
  /* --darkmode-background: #292929; */
  --darkmode-elements: #BA8AF9;
  background-color: var(--lightmode-background);
  height: 100%;
  width:100%;
}

/* Don't show back to lightmode link */
a[data-light] {
  display: none;
}

/* Darkmode toggle */
a[data-dark] {
  color: var(--darkmode-elements);
}

/* Darkmode - don't show images */
img[data-light] {
  display: none;
}

/* main > img[data-light]{
  display: block;
} */

/* Darkmode set background */
body:target > div {
  background-color: var(--darkmode-background);
}

body:target a[data-dark] {
  display: none;
}

body:target main > img {
  display: none;
}

body:target aside > img {
  display: none;
}

body:target aside > a > img {
  display: none;
}

body:target a[data-light] {
  display: block;
  color: var(--lightmode-background);
}

body:target img[data-light]{
  display: block;
}

/* All images(items) should have the same size by default */
body > div > main > img {
  width: 6em;
  height: 6em;
}

body > div > header {
  position: fixed;
  top: 10%;
  left: 40%;
  text-align: center;
  animation: spinningHeader 3s ease-in-out infinite;
}

@keyframes spinningHeader {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(270deg);
  }
  75% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0);
  }
}

body > div > header > h1 {
  margin: 0;
  color: #A93028;
  text-shadow: 2px 2px #583D34;
  font-size: 3em;
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
}

body > div > header > p {
  font-family: 'Krona One', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

aside > img, aside > a > img {
  width: 10em;
  height: 10em;
}

/* Knife tool */
body > div > aside:nth-child(3) > a:nth-child(1) > img {
  position: fixed;
  top: 20%;
  left: -2.5em;
}

/* Knife tool turn on hover */
body > div > aside:nth-child(3) > a:nth-child(1) > img:hover {
  transform: rotate(-20deg);
}

html:target > body {
  cursor: url('../images/knife.png'), auto;
  /* cursor: url('../images/darkmode/darkmode_knife.png'), auto; */
}

head:target ~ body {
  cursor: url('../images/hammer.png'), auto;
}



/* Hammer tool */
body > div > aside:nth-child(3) > a:nth-child(2) > img{
  position: fixed;
  top: 50%;
  left: -2.5em;
}

/* Hammer tool turn on hover */
body > div > aside:nth-child(3) > a:nth-child(2) > img:hover {
  transform: rotate(-20deg);
}

/* Ketchup */
/* Ketchup darkmode */
body > div > aside:nth-child(6) > img:nth-child(1), body > div > aside:nth-child(6) > img:nth-child(2) {
  position: fixed;
  top: 20%;
  right: -2.5em;
}

/* Ketchup turn on hover */
/* Ketchup turn on hover darkmode */
body > div > aside:nth-child(6) > img:nth-child(1):hover, body > div > aside:nth-child(6) > img:nth-child(2):hover {
  transform: rotate(-20deg);
}

/* Mayonnaise */
/* Mayonnaise darkmode */
body > div > aside:nth-child(6) > img:nth-child(3), body > div > aside:nth-child(6) > img:nth-child(4) {
  position: fixed;
  top: 50%;
  right: -2.5em;
}

/* Mayonnaise  turn on hover */
/* Mayonnaise  turn on hover darkmode */
body > div > aside:nth-child(6) > img:nth-child(3):hover, body > div > aside:nth-child(6) > img:nth-child(4):hover {
  transform: rotate(-20deg);
}


/* Floating burger */
/* Darkmode burger */
body > div > main > img:nth-child(1), body > div > main > img:nth-child(2) {
  position: fixed;
  top: 10%;
  left: 20%;
  animation: floatBurger 2s ease-in-out infinite;
}

@keyframes floatBurger {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(30%);
	}
	100% {
		transform: translateY(0);
	}
}


/* Floating fries */
/* Darkmode fries */
body > div > main > img:nth-child(3), body > div > main > img:nth-child(4) {
  position: fixed;
  top: 40%;
  left: 20%;
  animation-name: floatFries;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floatFries {
  0%   {
    transform: translateY(0);
  }
  50%  {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Floating fries */
body > div > main > img:nth-child(2):focus {
  background-color: green;
  animation: friesToBag 5s ease-in-out 1;
}

@keyframes friesToBag {
  0%   {
    transform: translateX(0);
  }
  50%  {
    transform: translateX(300%);
  }
  100% {
    transform: translate(300%, 300%);
  }
}

/* Floating hotdog */
/* Darkmode hotdog */
body > div > main > img:nth-child(5), body > div > main > img:nth-child(6) {
  position: fixed;
  top: 40%;
  right: 20%;
  animation: floatHotdog 3s ease-in-out infinite;
}

@keyframes floatHotdog {
  0%   {
    transform: translateY(0);
  }
  50%  {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Floating chicken wing */
/* Darkmode chicken wing */
body > div > main > img:nth-child(7), body > div > main > img:nth-child(8) {
  position: fixed;
  top: 10%;
  right: 20%;
  animation: floatChickenwing 2s ease-in-out infinite;
}

@keyframes floatChickenwing {
  0%   {
    transform: translateY(0);
  }
  50%  {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Footer */
div > footer > img {
  width: 10em;
  height: 10em;
  position: fixed;
  bottom: 0;
  left: 45%;
}


/* main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main img {
  max-width: 1500px;
} */
